{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools %}
    {% if change %}{% if not is_popup %}
        <ul class="object-tools">
            {% block object-tools-items %}
                {% if original %}
                    <li>
                        <a href="{% url 'admin:celery_log_tasklog_rerun' original.pk %}"
                           class="historylink"
                           onclick="return confirm('{% trans "Are you sure you want to re-run this task?" %}');">
                            {% trans "Re-run Task" %}
                        </a>
                    </li>
                {% endif %}
                {{ block.super }}
            {% endblock %}
        </ul>
    {% endif %}{% endif %}
{% endblock %}
